
body{
	background-color: #ffde22;

}
h1{
	font-family: 'Pacifico', cursive;
	font-size: 8em;
}


	
.first{
	display: flex;
	justify-content:center;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 6em;
  }
}
input[type=text]{
	background-color: #ffde22
}

li{
	font-size: 1.5em;
	font-weight: bold;
}
